/*Detaile Page*/

.costofproduct {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  text-align: center;
}
.addtobagbutton {
  border: 15px solid#000000;
  background-color: #000000;
  border: 1px solid #000000;
  width: 470px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}
.textcontact-advisor {
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  width: 470px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.detailpagebody {
  font-size: 20px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}

.menuforthepreviouspage {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nacklaceimg-container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin-top: 30px;
  margin-right: 25px;
  margin-left: 30px;
}
.menuforthepreviouspage a {
  color: rgb(0, 0, 0);
  text-decoration: line;
}
.nacklaceimg-container img {
  width: 50%;
  margin-bottom: 0px;
  height: 500px;
}
.link-readmore {
  color: rgb(0, 0, 0);
  text-decoration: line;
}
.link-storeandadvisor {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.paypal-findstore {
  font-size: 15px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  margin-top: 3px;
  margin-bottom: 3px;
}

.text-container {
  display: grid;

  grid-template-columns: 90%;
  margin-bottom: 200px;
  margin-left: 100px;
  margin-right: 50px;
}
.text-container h2 {
  font-family: "cormorant garamond", sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 0px;
}
.description-h4 {
  font-size: 17px;
  font-family: "Karla", sans-serif;
  font-weight: Bold;
  margin-bottom: 3px;
}
.description-details {
  font-size: 15px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}
.greenline-extracontent {
  background-color: #0f420e;
  height: 1px;
  border: none;
}
.extra-container {
  font-size: 25px;
  font-family: "cormorant garamond", sans-serif;
  font-weight: 500;
}
.extraproducts-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 5px;
}
figure {
  margin-left: 20px;
  margin-right: 20px;
}
.extraproducts-container img {
  width: 230px;
}
.linkforextraproducts {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.costof-extraproduct {
  font-family: "karla", sans-serif;
  font-size: 16px;
  color: rgb(138, 138, 138);
}

.extraproductscontainer-figcaption {
  font-family: "karla", sans-serif;
  font-size: 16px;
}
