/* header*/

header {
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #d9d9d9;
}

#Logo {
  display: flex;
  width: 15%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.nav-icon a {
  margin-right: 10px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
@media only screen and (min-width: 390px) and (max-width: 414px) {
  .nav-icon {
    margin-top: 10px;
  }
  .nav-icon a {
    font-size: 18px;
    margin: 0px;
    position: relative;
    right: 5px;
  }
  #Logo {
    width: 30%;
    left: -30px;
  }
}

/* navigation menu */

.navbar {
  padding: 10px;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.navbar a {
  position: relative;
  list-style: none;
  text-decoration: none;
  color: #0f420e;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
}

.search {
  display: none;
}

#toggler,
input,
label,
i {
  display: none;
}

.menu-phone {
  display: none;
}

/* the following 45 lines of code was adapted from ChatGPT Accessed 2023-11-22*/
@media only screen and (min-width: 390px) and (max-width: 414px) {
  .navbar {
    display: none;
    padding: 2px;
  }

  .search {
    display: block;
  }

  .search input {
    width: 250px;
    padding: 10px;
    margin-right: 5px;
    background-color: #d9d9d9;
  }

  .searchbutton {
    float: right;
    padding: 4px 4px;
    position: absolute;
    right: 45px;
    top: 115px;
    background: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: #0f420e;
  }

  label {
    display: block;
    font-size: 50px;
    cursor: pointer;
    font-weight: 500;
    position: absolute;
    left: 18px;
    top: 110px;
    color: #d9d9d9;
  }

  #toggler,
  input,
  label,
  i {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  #toggler:checked ~ .menu-phone {
    display: block;
  }

  .menu-phone ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
    margin-top: 10px;
  }

  .menu-phone ul li {
    padding: 10px;
  }

  .menu-phone ul li a {
    color: #0f420e;
    text-decoration: none;
    font-size: 16px;
  }
}
/*Detaile Page*/
/*main*/
.costofproduct {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  text-align: center;
  cursor: pointer;
}
#addtobagbutton {
  background-color: #000000;
  border: 1px solid #000000;
  width: 470px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.popupmodal {
  position: fixed;
  top: 20%;
  left: 60%;
  transform: translate(-20%, -60%) scale(0);
  transition: ease-in-out;
  z-index: 5;
}
.popupmodal.active {
  transform: translate(-20%, -60%) scale(1);
}
.popup {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
}

.popup a {
  color: #000000;
  text-decoration: none;
}
.popup img {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
}
.popuph3 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Karla", sans-serif;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}
.popuptextcontainer {
  font-size: 20px;
  font-weight: 400;
  font-family: "Karla", sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 90%;
  margin-bottom: 100px;
}
.popupline {
  width: 450px;
  background-color: #0f420e;
  height: 2px;
  border: none;
}
.popupquantity {
  margin-top: 20px;
}
.delivery-text {
  font-size: 15px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  margin-left: 20px;
}
.checkoutbutton-text {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  text-align: center;
}
#checkoutbutton {
  background-color: #000000;
  border: 1px solid #000000;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  margin-left: 50px;
  cursor: pointer;
  display: grid;
}
#overlay {
  position: fixed;
  /*opacity: 0;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.textcontact-advisor {
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  width: 470px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.detailpagebody {
  font-size: 20px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}

.menuforthepreviouspage {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nacklaceimg-container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin-top: 30px;
  margin-right: 25px;
  margin-left: 30px;
}
.menuforthepreviouspage a {
  color: rgb(0, 0, 0);
  text-decoration: line;
}
.nacklaceimg-container img {
  width: 50%;
  margin-bottom: 0px;
  height: 500px;
}
.link-readmore {
  color: rgb(0, 0, 0);
  text-decoration: line;
}
.link-storeandadvisor {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.paypal-findstore {
  font-size: 15px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  margin-top: 3px;
  margin-bottom: 3px;
}
.text-container {
  display: grid;

  grid-template-columns: 90%;
  margin-bottom: 200px;
  margin-left: 100px;
  margin-right: 50px;
}
.text-container h2 {
  font-family: "cormorant garamond", sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 0px;
}
.description-h4 {
  font-size: 17px;
  font-family: "Karla", sans-serif;
  font-weight: Bold;
  margin-bottom: 3px;
}
.description-details {
  font-size: 15px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}
.greenline-extracontent {
  background-color: #0f420e;
  height: 1px;
  border: none;
}
.extra-container {
  font-size: 25px;
  font-family: "cormorant garamond", sans-serif;
  font-weight: 500;
}
.extraproducts-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 5px;
}
figure {
  margin-left: 20px;
  margin-right: 20px;
}
.extraproducts-container img {
  width: 230px;
}
.linkforextraproducts {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.costof-extraproduct {
  font-family: "karla", sans-serif;
  font-size: 16px;
  color: rgb(138, 138, 138);
}
.extraproductscontainer-figcaption {
  font-family: "karla", sans-serif;
  font-size: 16px;
}

/* Checkout Page*/
ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.shoppingbaglink {
  color: #000000;
  text-decoration: none;
}
.ordersummary {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  width: 450px;
  height: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  float: left;
}
.ordersummaryimg {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 100px;
}
.heading-ordersummary {
  font-family: "lato", sans-serif;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 10px;
}
.edit-ordersummary {
  font-family: "lato", sans-serif;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 18px;
  margin-left: 180px;
}
.subtotal-ordersummary {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 18px;
  margin-left: 20px;
}
.estimatedtotal-ordersummary {
  font-family: "lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 18px;
  margin-left: 20px;
}
.purchase-button {
  background-color: #000000;
  border: 1px solid #000000;
  width: 400px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  margin-left: 25px;
  cursor: pointer;
}
.purchase-text {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  text-align: center;
}

@media all and (min-width: 300px) and (max-width: 700px) {
  .ordersummary {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    width: 300px;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
  }
  .heading-ordersummary {
    font-family: "lato", sans-serif;
    font-size: 25px;
    margin-left: 60px;
    margin-top: 10px;
  }
  .ordersummaryimg {
    width: 250px;
    height: 250px;
    margin-bottom: 1px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .edit-ordersummary {
    font-family: "lato", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    margin-left: 10px;
  }
  .subtotal-ordersummary {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
    margin-left: 5px;
  }
  .estimatedtotal-ordersummary {
    font-family: "lato", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 5px;
  }
  .purchase-button {
    background-color: #000000;
    border: 1px solid #000000;
    width: 250px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-left: 25px;
    cursor: pointer;
  }
  .checkoutcontainer {
    margin-bottom: 0px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
  }
  .paymentmethod {
    font-family: "lato", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 0px;
  }
  .checkout-footer {
    padding: 0px;
    background-color: #0f420e;
    position: absolute;
    width: 100%;

    bottom: -170px;
    margin-left: 0;
  }
  .checkoutfooter-container {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    font-family: "Karla", sans-serif;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.checkoutcontainer {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 90%;
  margin-bottom: 10px;
}
.paymentmethod {
  font-family: "lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 18px;
  margin-left: 20px;
}
#textarea {
  color: #848484;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  font-family: "lato", sans-serif;
  font-size: 17px;
  border-radius: 5%;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  float: left;
}
.dropbtn {
  background-color: white;
  color: black;
  padding: none;
  font-family: "lato", sans-serif;
  font-size: 16px;
  border: none;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gift-dropdown {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-family: "lato", sans-serif;
  font-size: 16px;

  min-width: 160px;
  z-index: 2;
}

.dropdown-content a {
  color: #0f420e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.611);
}

.gift-dropdown:hover .dropdown-content {
  display: block;
}

.methods-pay {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: "lato", sans-serif;
  font-size: 20px;
}

.input-container {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 20px;
  border: 0.5px solid black;
}

.input-container:checked ~ .mark {
  background-color: #2196f3;
}

.mark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-container:checked ~ .mark:after {
  display: block;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* footer */

footer {
  padding: 30px;
  background-color: #d9d9d9;
  position: relative;
  bottom: -170px;
  margin: 0;
  width: auto;
}

#logofooter {
  display: flex;
  margin-left: 40%;
  width: 20%;
  position: relative;
  bottom: 20px;
}

#credit {
  text-align: center;
  position: absolute;
  bottom: 8px;
  right: 0px;
  left: 0px;
}

.latest {
  float: right;
  position: relative;
  bottom: 40px;
  right: 20px;
}

.latest h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

.latest h5 {
  line-height: 0.1rem;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 16px;
}

.mail {
  display: block;
  padding: 7px 80px;
  color: black;
}

.mail input {
  width: 400px;
  padding: 10px;
  margin-right: 5px;
}

.footer-btn {
  position: relative;
  bottom: -20px;
  font-family: "Lato", sans-serif;
  color: grey;
  text-decoration: none;
  font-size: 16px;
}

.socials a {
  color: white;
  font-size: 40px;
  font-weight: 400;
}
.socials {
  position: absolute;
  bottom: 50px;
  left: 15px;
}

.finfo {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 20px;
}

.row {
  list-style: none;
  margin: 0px;
  padding: 0;
  margin-right: 20px;
  flex: 1 1 10%;
}

h4 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 16px;
}

li {
  font-family: "Karla", sans-serif;
  font-size: 15px;
}
.down-arrow {
  display: none;
}

.subscribe {
  display: none;
}

@media only screen and (min-width: 390px) and (max-width: 414px) {
  .row {
    flex: 1 1 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  footer {
    margin-top: 380px;
  }
  .row li {
    display: none;
  }
  .down-arrow i {
    display: block;
    color: black;
  }
  h4,
  button .down-arrow i {
    display: flex;
  }

  .socials a {
    position: relative;
    bottom: 30px;
    font-size: 40px;
    align-items: center;
    left: 50px;
    margin: 0;
  }
  .latest {
    display: block;
    position: relative;
    left: 10px;
  }
  .latest h2 {
    font-size: 20px;
  }
  .latest h5 {
    font-size: 16px;
  }

  #logofooter {
    float: right;
    right: -20px;
    width: 60%;
    bottom: 400px;
  }
  #credit {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    bottom: 0px;
  }
  .down-arrow {
    background-color: none;
    color: none;
    border: none;
    cursor: pointer;
    padding: 4px;
  }

  /* the following 11 lines of code was adapted from ChatGPT Accessed 2023-11-28 */
  .down-arrow i {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

  .row.active .down-arrow i {
    transform: rotate(180deg);
  }

  .finfo .row {
    cursor: pointer;
  }

  .finfo .row.active .panel {
    display: block;
  }

  /* the following 6 lines of code was adapted from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown Accessed 2023-11-28*/
  .panel {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
  }

  .panel li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

/*Footer for the checkout*/
.checkout-footer {
  padding: 20px;
  background-color: #0f420e;
  position: relative;
  bottom: -170px;
  margin: 0;
  width: auto;
}
.checkoutfooter-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 10px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Karla", sans-serif;
}
.checkout-footer a {
  color: #ffffff;
  text-decoration: underline;
}

/* Checkout Pop-up */
.purchasebtn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 300px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid black;
  width: 60%;
  height: auto;
  align-items: center;
  text-align: center;
  margin-top: 50%;
  margin-bottom: 50%;
}

.popup-content h2 {
  color: #0f420e;
  font-size: 20px;
  font-weight: bold;
}

.popup-content p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.orderbtn {
  background-color: #0f420e;
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  padding: 5px;
}
