/* Product Page */

.titlespace {
  padding: 2rem;
  border-top: solid #d9d9d9 20px;
}
.category-title {
  font-family: "Cormorant Garamond", serif;
  font-size: x-large;
  text-align: center;
}
.italic-description {
  font-family: "Karla", sans-serif;
  font-size: medium;
  font-style: italic;
  text-align: center;
}
.category-slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #d9d9d9;
  overflow: auto;
  white-space: nowrap;
  height: auto;
  margin-left: 0%;
  margin-right: 0%;
}

@media screen and (min-width: 1000px) {
  .categoryimg {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .categoryimg {
    max-height: 200px;
  }
}
.category-slider,
.categories {
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-size: xx-large;
  text-align: center;
}
.categories {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
}
.activetext {
  color: #0f420e;
  text-decoration: underline;
}

.breadcrumbs {
  display: flex;
  color: black;
  padding-bottom: 0%;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  font-size: small;
  padding-top: 0%;
  padding-left: 2rem;
}

.necklacespace {
  padding: 1rem;
}
.necklacearea {
  padding: 2rem;
}

.necklacecolumns {
  display: grid;
  row-gap: 2rem;
  grid-template-areas:
    "img img img img img"
    "img img img img img";
}

@media screen and (max-width: 1000px) {
  .necklacecolumns {
    display: grid;
    row-gap: 2rem;
    grid-template-areas:
      "img img img img"
      "img img img img";
  }
}
@media screen and (max-width: 900px) {
  .necklacecolumns {
    display: grid;
    row-gap: 2rem;
    grid-template-areas:
      "img img img"
      "img img img";
  }
}
@media screen and (max-width: 800px) {
  .necklacecolumns {
    display: grid;
    row-gap: 2rem;
    grid-template-areas:
      "img img"
      "img img";
  }
}
@media screen and (max-width: 500px) {
  .necklacecolumns {
    display: grid;
    row-gap: 2rem;
    grid-template-areas:
      "img"
      "img";
  }
}
.necklaceimage,
.necklacecolumns {
  text-align: left;
}

.necklaceimage {
  padding-right: 1rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
}
.necklaceimg {
  width: 100%;
}
.new-text {
  font-family: "Karla", sans-serif;
  color: #000000;
  font-size: small;
  float: left;
  background-color: white;
  position: relative;
}
.productname {
  font-family: "Karla", sans-serif;
  color: #000000;
  text-decoration: none;
}
.pricetag {
  font-family: "Karla", sans-serif;
  color: darkgray;
  text-decoration: none;
}
/* Shopping Bag */
#square-order {
  border: solid black;
  padding: 2rem;
  width: 20%;
  float: right;
  padding-top: 0%;
  margin-top: 6rem;
  margin-right: 6rem;
  position: relative;
}
@media screen and (max-width: 1000px) {
  #square-order {
    float: none;
    width: 80%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #pricepoint {
    font-family: "Karla", sans-serif;
    font-weight: bolder;
    display: flex;
    margin-left: 4rem;
  }
  #item {
    font-family: "Karla", sans-serif;
    font-size: x-large;
    display: flex;
    border-top: solid#d9d9d9;
    border-bottom: solid#d9d9d9;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 4rem;
  }
}

#smallordertitle {
  font-family: "Cormorant Garamond", serif;
  font-size: xx-large;
  font-weight: lighter;
  text-align: center;
}

#item {
  font-family: "Karla", sans-serif;
  font-size: x-large;
  display: flex;
  border-top: solid#d9d9d9;
  border-bottom: solid#d9d9d9;
  margin-top: 0%;
  margin-bottom: 0%;
}
#pricepoint {
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  display: flex;
}
.hundred {
  margin-left: 20%;
}

.checkout-btn {
  font-family: "Karla", sans-serif;
  border: 2px solid black;
  padding: 12px 25px;
  bottom: -50px;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.checkout-btn:hover {
  color: black;
  background-color: #d6a142;
}

#mainorder {
  padding-left: 2rem;
  padding-top: 0%;
}

@media screen and (max-width: 1000px) {
  .order-title {
    width: 100%;
    margin-left: 2rem;
    padding-top: 2rem;
    margin-bottom: 0, 5rem;
  }
  #orderimg {
    width: 80%;
    float: none;
    padding-right: 2rem;
  }
  #maintext {
    margin-right: 0%;
    margin-bottom: 0%;
  }
}
.order-title {
  font-family: "Cormorant Garamond", serif;
  font-size: x-large;
  font-weight: lighter;
  border-bottom: solid #d9d9d9;
  width: 50%;
  margin-left: 2rem;
  padding-top: 2rem;
  margin-bottom: 0, 5rem;
}
#orderimg {
  width: 25%;
  float: left;
  padding-right: 2rem;
}
#maintext {
  margin-right: 25%;
  margin-bottom: 25%;
}
#productordertitle {
  font-family: "Karla", sans-serif;
  font-size: x-large;
}
.mainordertext {
  font-family: "Karla", sans-serif;
}
#orderedit {
  font-family: "Karla", sans-serif;
  color: darkgrey;
  text-decoration: none;
}
#necklacerow {
  display: grid;
  grid-template-areas: "img img img img";
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 2rem;
  width: 50%;
}
@media screen and (max-width: 800px) {
  #necklacerow {
    display: grid;
    grid-template-areas: "img img";
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 2rem;
    width: 100%;
  }
}
.addingnecklaces {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  grid-area: img;
  margin-left: 2rem;
}

#necklacerow,
.addingnecklaces {
  padding-left: 0%;
}

.producttext {
  margin-left: 2rem;
  font-size: medium;
}

.cross {
  float: right;
}
