/* Homepage*/

/* header*/
header {
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #d9d9d9;
}

#Logo {
  display: flex;
  width: 10%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.nav-icon {
  margin-right: 10px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 20px;
  }

  #Logo {
    width: 50%;
    margin: 0 auto;
  }

  .nav-icon {
    margin-right: 0;
    margin-top: 10px;
    font-size: 16px;
  }
}

/* navigation menu */

.navbar {
  padding: 10px;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.navbar a {
  position: relative;
  list-style: none;
  text-decoration: none;
  color: #0f420e;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
}

.search {
  display: none;
}

#toggler,
input,
label,
i {
  display: none;
}

.menu-phone {
  display: none;
}

/* the following 45 lines of code was adapted from ChatGPT Accessed 2023-11-22*/
@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .search {
    display: block;
  }

  .search input {
    width: 400px;
    padding: 10px;
    margin-right: 5px;
  }

  .search button {
    padding: 5px 10px;
  }

  label {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  #toggler,
  input,
  label,
  i {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  #toggler:checked ~ .menu-phone {
    display: block;
  }

  .menu-phone ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
    margin-top: 10px;
  }

  .menu-phone ul li {
    padding: 10px;
  }

  .menu-phone ul li a {
    color: darkgreen;
    text-decoration: none;
  }
}

/* maincontent */
section {
  padding: 5% 20%;
}
.content-btn {
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  border: 2px solid white;
  padding: 12px 25px;
  text-decoration: none;
  position: relative;
  bottom: -50px;
}

.content-btn:hover {
  background-color: #d6a142;
  color: white;
}

.main-content {
  background-color: #0f420e;
  width: 40%;
  height: 370px;
}

.content-text h1 {
  color: #d6a142;
  font-size: 40px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 200;
}

.content-text h5 {
  line-height: 0.1;
  color: white;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 200;
  position: relative;
  bottom: -40px;
}

#campaign {
  width: 80%;
  height: 499px;
  position: relative;
  top: -280px;
  left: 620px;
}

.main-content {
  background-color: darkgreen;
  width: 40%;
  height: 370px;
}

/* Content 2 */
.content2-btn {
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  border: 2px solid white;
  padding: 12px 25px;
  text-decoration: none;
  position: relative;
  bottom: -200px;
  margin-left: -80px;
}

.content2-btn:hover {
  background-color: #d6a142;
  color: white;
}

.content2-text h1 {
  color: white;
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 200;
  position: relative;
  margin-left: -80px;
}

.content2 {
  background-color: black;
  width: 30%;
  height: 330px;
  float: right;
  right: 0px;
  position: relative;
  bottom: -70px;
}

#goldbox {
  background-color: #d6a142;
  width: 30%;
  height: 458px;
  float: left;
  position: relative;
  bottom: -70px;
  margin-left: 0px;
}

/* Content 3 */
.content3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 120px;
  position: relative;
  bottom: -70px;
}

.c3 img {
  width: 100%;
  height: auto;
}

.c3 h2 {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.content3-btn {
  font-family: "Karla", sans-serif;
  text-decoration: none;
  margin-left: 7rem;
}

/* Content 4 */

.content4 {
  background-color: #d6a142;
  width: 20%;
  height: 250px;
  position: relative;
  bottom: -70px;
}

.content4-btn {
  display: inline-block;
  color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  border: 2px solid black;
  padding: 12px 25px;
  text-decoration: none;
  position: relative;
  bottom: -140px;
  left: -200px;
}

.content4-btn:hover {
  background-color: white;
}

.content4-text h1 {
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 200;
  position: relative;
  left: -200px;
}

.gift {
  width: 100%;
  height: 380px;
  position: relative;
  bottom: 180px;
  left: 510px;
}

#greenbox {
  background-color: #0f420e;
  width: 100%;
  height: 380px;
  position: relative;
  bottom: 565px;
  left: 768px;
}

/* Footer */

footer {
  padding: 30px;
  background-color: #d9d9d9;
  position: relative;
  bottom: -170px;
}

#logofooter {
  display: flex;
  margin-left: 40%;
  width: 20%;
  position: relative;
  bottom: 100px;
}

#credit {
  position: left;
  text-align: center;
  bottom: -10px;
}

.latest {
  float: right;
  position: relative;
  bottom: 70px;
  margin-right: 40px;
}

.latest h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

.latest h5 {
  line-height: 0.1rem;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 16px;
}

#mail {
  padding: 10px 80px;
  color: black;
}

.footer-btn {
  position: relative;
  bottom: -20px;
  font-family: "Lato", sans-serif;
  color: grey;
  text-decoration: none;
  font-size: 16px;
}

.socials {
  color: white;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  bottom: -140px;
}

.finfo {
  display: flex;
  position: relative;
  bottom: -90px;
  margin-left: -20px;
}

.row {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

h4 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 16px;
}

li {
  font-family: "Karla", sans-serif;
  font-size: 15px;
}

/* Product Page & Shopping bag*/

.titlespace {
  padding: 2rem;
  border-top: solid #d9d9d9 20px;
}

.category-title {
  font-family: "Cormorant Garamond", serif;
  font-size: x-large;
  text-align: center;
}

.italic-description {
  font-family: "Karla", sans-serif;
  font-size: medium;
  font-style: italic;
  text-align: center;
}

.category-slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #d9d9d9;
  overflow: auto;
  white-space: nowrap;
  height: auto;
  margin-left: 0%;
  margin-right: 0%;
}

@media screen and (min-width: 1000px) {
  .categoryimg {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .categoryimg {
    max-height: 200px;
  }
}

.category-slider,
.categories {
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-size: xx-large;
  text-align: center;
}
.categories {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
}

.activetext {
  color: #0f420e;
  text-decoration: underline;
}

.breadcrumbs {
  display: flex;
  padding-left: 0%;
  color: black;
  padding-bottom: 0%;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  font-size: small;
  padding-top: 0%;
  padding-left: 2rem;
}

.necklacespace {
  padding: 1rem;
}

.necklacearea {
  padding: 2rem;
}

.necklacecolumns {
  display: grid;
  row-gap: 2rem;
  grid-template-areas:
    "img img img img img"
    "img img img img img";
}

@media screen and (max-width: 1000px) {
  .necklacecolumns {
    display: grid;
    row-gap: 2rem;
    grid-template-areas:
      "img img img img"
      "img img img img";
  }
}

@media screen and (max-width: 900px) {
  .necklacecolumns {
    display: grid;
    row-gap: 2rem;
    grid-template-areas:
      "img img img"
      "img img img";
  }
}

@media screen and (max-width: 800px) {
  .necklacecolumns {
    display: grid;
    row-gap: 2rem;
    grid-template-areas:
      "img img"
      "img img";
  }
}

@media screen and (max-width: 500px) {
  .necklacecolumns {
    display: grid;
    row-gap: 2rem;
    grid-template-areas:
      "img"
      "img";
  }
}

.necklaceimage,
.necklacecolumns {
  text-align: left;
}

.necklaceimage {
  padding-right: 1rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
}

.necklaceimg {
  width: 100%;
}

.new-text {
  font-family: "Karla", sans-serif;
  color: #000000;
  font-size: small;
  float: left;
  background-color: white;
  position: relative;
}

.productname {
  font-family: "Karla", sans-serif;
  color: #000000;
  text-decoration: none;
}

.pricetag {
  font-family: "Karla", sans-serif;
  color: darkgray;
  text-decoration: none;
}

/* Shopping Bag */
#square-order {
  border: solid black;
  padding: 2rem;
  width: 20%;
  float: right;
  padding-top: 0%;
  margin-top: 6rem;
  margin-right: 6rem;
  position: relative;
}

@media screen and (max-width: 1000px) {
  #square-order {
    float: none;
    width: 80%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #pricepoint {
    font-family: "Karla", sans-serif;
    font-weight: bolder;
    display: flex;
    margin-left: 4rem;
  }
  #item {
    font-family: "Karla", sans-serif;
    font-size: x-large;
    display: flex;
    border-top: solid#d9d9d9;
    border-bottom: solid#d9d9d9;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 4rem;
  }
}

#smallordertitle {
  font-family: "Cormorant Garamond", serif;
  font-size: xx-large;
  font-weight: lighter;
  text-align: center;
}

#item {
  font-family: "Karla", sans-serif;
  font-size: x-large;
  display: flex;
  border-top: solid#d9d9d9;
  border-bottom: solid#d9d9d9;
  margin-top: 0%;
  margin-bottom: 0%;
}

#pricepoint {
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  display: flex;
}

.hundred {
  margin-left: 20%;
}

.checkout-btn {
  display: inline-block;
  color: white;
  background-color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  border: 2px solid black;
  padding: 12px 25px;
  bottom: -50px;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.checkout-btn:hover {
  background-color: #d6a142;
  color: black;
}

#mainorder {
  padding-left: 2rem;
  padding-top: 0%;
}

@media screen and (max-width: 1000px) {
  .order-title {
    width: 100%;
    margin-left: 2rem;
    padding-top: 2rem;
    margin-bottom: 0, 5rem;
  }
  #orderimg {
    width: 80%;
    float: none;
    padding-right: 2rem;
  }
  #maintext {
    margin-right: 0%;
    margin-bottom: 0%;
  }
}

.order-title {
  font-family: "Cormorant Garamond", serif;
  font-size: x-large;
  font-weight: lighter;
  border-bottom: solid #d9d9d9;
  width: 50%;
  margin-left: 2rem;
  padding-top: 2rem;
  margin-bottom: 0, 5rem;
}

#orderimg {
  width: 25%;
  float: left;
  padding-right: 2rem;
}

#maintext {
  margin-right: 25%;
  margin-bottom: 25%;
}

#productordertitle {
  font-family: "Karla", sans-serif;
  font-size: x-large;
}

.mainordertext {
  font-family: "Karla", sans-serif;
}

#orderedit {
  font-family: "Karla", sans-serif;
  color: darkgrey;
  text-decoration: none;
}

#necklacerow {
  display: grid;
  grid-template-areas: "img img img img";
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 2rem;
  width: 50%;
}

@media screen and (max-width: 800px) {
  #necklacerow {
    display: grid;
    grid-template-areas: "img img";
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 2rem;
    width: 100%;
  }
}

.addingnecklaces {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  grid-area: img;
  margin-left: 2rem;
}

#necklacerow,
.addingnecklaces {
  padding-left: 0%;
}
.producttext {
  margin-left: 2rem;
  font-size: medium;
}

.cross {
  float: right;
}

/*Detaile Page*/

.costofproduct {
  color: white;
  text-align: center;
  border: 15px solid#000000;
  background-color: #000000;
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  width: 450px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}
.link-addtobag {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.textcontact-advisor {
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  width: 450px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}
.detailpagebody {
  font-size: 20px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}

.menuforthepreviouspage {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nacklaceimg-container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin-top: 30px;
  margin-right: 25px;
  margin-left: 30px;
}
.menuforthepreviouspage a {
  color: rgb(0, 0, 0);
  text-decoration: line;
}
.nacklaceimg-container img {
  width: 50%;
  margin-bottom: 0px;
  height: 500px;
}
.link-readmore {
  color: rgb(0, 0, 0);
  text-decoration: line;
}
.link-storeandadvisor {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.paypal-findstore {
  font-size: 15px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  margin-top: 3px;
  margin-bottom: 3px;
}

.text-container {
  display: grid;

  grid-template-columns: 90%;
  margin-bottom: 200px;
  margin-left: 100px;
  margin-right: 50px;
}
.text-container h2 {
  font-family: "cormorant garamond", sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 0px;
}
.description-h4 {
  font-size: 17px;
  font-family: "Karla", sans-serif;
  font-weight: Bold;
  margin-bottom: 3px;
}
.description-details {
  font-size: 15px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}
.greenline-extracontent {
  background-color: #0f420e;
  height: 1px;
  border: none;
}
.extra-container {
  font-size: 25px;
  font-family: "cormorant garamond", sans-serif;
  font-weight: 500;
}
.extraproducts-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 5px;
}
figure {
  margin-left: 20px;
  margin-right: 20px;
}
.extraproducts-container img {
  width: 230px;
}
.linkforextraproducts {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.costof-extraproduct {
  font-family: "karla", sans-serif;
  font-size: 16px;
  color: rgb(138, 138, 138);
}

.extraproductscontainer-figcaption {
  font-family: "karla", sans-serif;
  font-size: 16px;
}
