/* Homepage*/

/* header*/
header {
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #d9d9d9;
}

#Logo {
  display: flex;
  width: 10%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.nav-icon {
  margin-right: 10px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 20px;
  }

  #Logo {
    width: 50%;
    margin: 0 auto;
  }

  .nav-icon {
    margin-right: 0;
    margin-top: 10px;
    font-size: 16px;
  }
}

/* navigation menu */

.navbar {
  padding: 10px;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.navbar a {
  position: relative;
  list-style: none;
  text-decoration: none;
  color: #0f420e;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
}

.search {
  display: none;
}

#toggler,
input,
label,
i {
  display: none;
}

.menu-phone {
  display: none;
}

/* the following 45 lines of code was adapted from ChatGPT Accessed 2023-11-22*/
@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .search {
    display: block;
  }

  .search input {
    width: 400px;
    padding: 10px;
    margin-right: 5px;
  }

  .search button {
    padding: 5px 10px;
  }

  label {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  #toggler,
  input,
  label,
  i {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  #toggler:checked ~ .menu-phone {
    display: block;
  }

  .menu-phone ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
    margin-top: 10px;
  }

  .menu-phone ul li {
    padding: 10px;
  }

  .menu-phone ul li a {
    color: darkgreen;
    text-decoration: none;
  }
}

/* maincontent */
section {
  padding: 5% 20%;
}
.content-btn {
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  border: 2px solid white;
  padding: 12px 25px;
  text-decoration: none;
  position: relative;
  bottom: -50px;
}

.content-btn:hover {
  background-color: #d6a142;
  color: white;
}

.main-content {
  background-color: #0f420e;
  width: 40%;
  height: 370px;
}

.content-text h1 {
  color: #d6a142;
  font-size: 40px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 200;
}

.content-text h5 {
  line-height: 0.1;
  color: white;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 200;
  position: relative;
  bottom: -40px;
}

#campaign {
  width: 80%;
  height: 499px;
  position: relative;
  top: -280px;
  left: 620px;
}

.main-content {
  background-color: darkgreen;
  width: 40%;
  height: 370px;
}

/* Content 2 */
.content2-btn {
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  border: 2px solid white;
  padding: 12px 25px;
  text-decoration: none;
  position: relative;
  bottom: -200px;
  margin-left: -80px;
}

.content2-btn:hover {
  background-color: #d6a142;
  color: white;
}

.content2-text h1 {
  color: white;
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 200;
  position: relative;
  margin-left: -80px;
}

.content2 {
  background-color: black;
  width: 30%;
  height: 330px;
  float: right;
  right: 0px;
  position: relative;
  bottom: -70px;
}

#goldbox {
  background-color: #d6a142;
  width: 30%;
  height: 458px;
  float: left;
  position: relative;
  bottom: -70px;
  margin-left: 0px;
}

/* Content 3 */
.content3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 120px;
  position: relative;
  bottom: -70px;
}

.c3 img {
  width: 100%;
  height: auto;
}

.c3 h2 {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.content3-btn {
  font-family: "Karla", sans-serif;
  text-decoration: none;
  margin-left: 7rem;
}

/* Content 4 */

.content4 {
  background-color: #d6a142;
  width: 20%;
  height: 250px;
  position: relative;
  bottom: -70px;
}

.content4-btn {
  display: inline-block;
  color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  border: 2px solid black;
  padding: 12px 25px;
  text-decoration: none;
  position: relative;
  bottom: -140px;
  left: -200px;
}

.content4-btn:hover {
  background-color: white;
}

.content4-text h1 {
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 200;
  position: relative;
  left: -200px;
}

.gift {
  width: 100%;
  height: 380px;
  position: relative;
  bottom: 180px;
  left: 510px;
}

#greenbox {
  background-color: #0f420e;
  width: 100%;
  height: 380px;
  position: relative;
  bottom: 565px;
  left: 768px;
}

/* Footer */

footer {
  padding: 30px;
  background-color: #d9d9d9;
  position: relative;
  bottom: -170px;
}

#logofooter {
  display: flex;
  margin-left: 40%;
  width: 20%;
  position: relative;
  bottom: 100px;
}

#credit {
  position: left;
  text-align: center;
  bottom: -10px;
}

.latest {
  float: right;
  position: relative;
  bottom: 70px;
  margin-right: 40px;
}

.latest h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

.latest h5 {
  line-height: 0.1rem;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 16px;
}

#mail {
  padding: 10px 80px;
  color: black;
}

.footer-btn {
  position: relative;
  bottom: -20px;
  font-family: "Lato", sans-serif;
  color: grey;
  text-decoration: none;
  font-size: 16px;
}

.socials {
  color: white;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  bottom: -140px;
}

.finfo {
  display: flex;
  position: relative;
  bottom: -90px;
  margin-left: -20px;
}

.row {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

h4 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 16px;
}

li {
  font-family: "Karla", sans-serif;
  font-size: 15px;
}

/* Product Page & Shopping bag*/

.category-options-jewels {
  background-color: #d9d9d9;
  display: flex;
}

figure {
  margin-left: 0%;
  padding-left: 0%;
  max-width: 20%;
}

.options {
  min-width: 20%;
}

.title-card-category {
  border-top: solid #d9d9d9 10px;
  padding-top: 2%;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}

.breadcrumbs {
  display: flex;
  padding-left: 0%;
  color: black;
  padding-bottom: 0%;
  font-family: "Karla", sans-serif;
  font-size: small;
  padding-top: 0%;
}

.header {
  padding-top: 2%;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}

.choose-jewelry {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-right: 20%;
  margin-left: 20%;
}

.orderreview-header {
  padding-top: 2%;
  font-family: "Cormorant Garamond", serif;
  padding-left: 4rem;
}

.checkout-btn {
  display: inline-block;
  color: white;
  background-color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  border: 2px solid black;
  padding: 12px 25px;
  position: relative;
  bottom: -50px;
}

.checkout-btn:hover {
  background-color: #d6a142;
  color: black;
}

.shoppingbag-orderreview {
  border-top: solid #d9d9d9;
  padding-left: 4rem;
  display: flex;
  margin-left: 4rem;
}

.square-order {
  border: solid black;
  padding-top: 0%;
  padding-bottom: 10%;
  padding-left: 0%;
  padding-right: 0%;
  min-width: 100px;
  max-width: 400px;
  text-align: center;
  margin-right: 4rem;
}

.add-more-to-bag {
  border-top: solid #d9d9d9;
  display: flex;
}

/*Detaile Page*/

.costofproduct {
  color: white;
  background-color: #000000;
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  width: 450px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}
.link-addtobag {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.textcontact-advisor {
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  width: 450px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}
.detailpagebody {
  font-size: 20px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}
.menuforthepreviouspage {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.menuforthepreviouspage a {
  color: rgb(0, 0, 0);
  text-decoration: line;
}
.link-readmore {
  color: rgb(0, 0, 0);
  text-decoration: line;
}
.link-storeandadvisor {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.paypal-findstore {
  font-size: 15px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  margin-top: 3px;
  margin-bottom: 3px;
}
.nacklaceimg-container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin-top: 30px;
  margin-right: 25px;
  margin-left: 30px;
}
.nacklaceimg-container img {
  width: 50%;
  height: 500px;
  margin-bottom: 0px;
}
.text-container {
  display: grid;
  grid-template-columns: 90%;
  margin-bottom: 200px;
  margin-left: 100px;
  margin-right: 50px;
}
.text-container h2 {
  font-family: "cormorant garamond", sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 0px;
}
.description-h4 {
  font-size: 17px;
  font-family: "Karla", sans-serif;
  font-weight: Bold;
  margin-bottom: 3px;
}
.description-details {
  font-size: 15px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}
.greenline-extracontent {
  background-color: #0f420e;
  height: 1px;
  border: none;
}
.extra-container {
  font-size: 25px;
  font-family: "cormorant garamond", sans-serif;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.extraproducts-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 0px;
  margin-right: 25px;
  margin-left: 30px;
}

.extraproductscontainer-figcaption {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "karla", sans-serif;
}
.extraproducts-container img {
  width: 230px;
  margin-left: 5px;
  margin-right: 5px;
}
