/* navigation menu */

.navbar {
  padding: 40px;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.navbar a {
  position: relative;
  list-style: none;
  text-decoration: none;
  color: darkgreen;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
}

/* navigation menu alternative */
.navbar {
  padding: 40px;
  background-color: white;
}
.menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.menu li a {
  position: relative;
  list-style: none;
  text-decoration: none;
  color: darkgreen;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
}
